.linea1{
    background-color: green;
    text-align: center;
    color: aquamarine;
}

.linea2{
    background-color: aquamarine;
}

.linea3{
    background-color: aqua;
}

.linea4{
    background-color: aquamarine;
}



